h1, .subtitle{
	text-align: center;
	position: relative;
	top: 40%;
	transform: translateY(-50%); 
}

.skipButton{
	text-align: center;
	position: relative;
	top: 80%;
}

.skip{
	padding: 1.5ex;
	border: solid 1px black;
	color: black;
}

.skip:hover{
	text-decoration: none;
	color: black;
	cursor: pointer;
	background-color: #ccc;
}

.tPad{
	padding-top: 1.5ex;
}

.bPad{
	padding-bottom: 1.5ex;
}
#cssResult{
	padding-right: 1.5ex;
	overflow-x: scroll;
	white-space: nowrap;
	visibility: hidden;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; 
}

body{
	font-family: "Courier New", Courier, monospace;
	color: #111;
}

#cssText{
	background-color: #555;
	border-color: #888;
	color: #fff;
}

#copyMessage{
	visibility: hidden;
}

.fade {
	-webkit-animation: fadein 1s linear 0s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s linear 0s; /* Firefox < 16 */
    -ms-animation: fadein 1s linear 0s; /* Internet Explorer */
    -o-animation: fadein 1s linear 0s; /* Opera < 12.1 */
    animation: fadein 1s linear 0s;
}

@keyframes fadein {
    from { opacity: 0;  top: -3ex}
    to   { opacity: 1;	top: 0ex}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0;  top: -3ex}
    to   { opacity: 1;	top: 0ex}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0;  top: -3ex}
    to   { opacity: 1;	top: 0ex}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0;  top: -3ex}
    to   { opacity: 1;	top: 0ex}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0;  top: -3ex}
    to   { opacity: 1;	top: 0ex}
}

.intro{
	height: 100vh;
	background-color: white;
	vertical-align: middle;
}

.typewriter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid transparent; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: 
	typing 3.5s steps(40, end),
	blink-caret .75s step-end 5;
	-webkit-animation: fadein 1s linear 0s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 1s linear 0s; /* Firefox < 16 */
	-ms-animation: fadein 1s linear 0s; /* Internet Explorer */
	-o-animation: fadein 1s linear 0s; /* Opera < 12.1 */
	animation: fadein 1s linear 0s;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: lime; }
}

