h1{
	text-align: center;
}
.bPad{
	padding-bottom: 1.5ex;
}
#cssResult{
	font-family: "Courier New", Courier, monospace;
	padding-right: 1.5ex;
	overflow-x: scroll;
	white-space: nowrap;
	visibility: hidden;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}