/* 
Additional css for flowCalc.html.

Original Author: Allen Wenzl

Originally created: 6/26/17
Last modified: 7/13/17
Last modified by: Allen Wenzl

 */


/* Used for the gold bar at the top of the page */
.header{
  	background-color: rgb(255, 185, 29);
  	font-weight: bold;
  	color: black;
  	size: fixed;
	text-align: center;
}
/* Used for each of the heading on the top of the page */
h3{
	font-weight: bold;
	text-align: center;
}
/* Default css of anything added to the page */
body{
  	color: black;
	background-color: #EEEEEE;
	font: helvetica;
}
/* bottom padding for the boxes */
.boxed{
	padding-bottom: 2.5ex;
}
/* White background classes */
.parkerBox, .addButton{
	background-color: white;
}
/* Used for the section headers at the top of each box */
h4{
  	font-weight: bold;
  	text-decoration: underline;
	background-color: white;
}
/* Gives images max size */
img{
  	max-height: 20ex;
  	max-width: 20ex;
}
/* Logo is given Parker brandbook ratios */
.logo{
	padding-top: 1.75ex;
  	max-height: 39.6ex;
  	max-width: 15ex;
}
/* Gives size to schematic pics */
#pumpPic, #tankPic, .fittingImg{
	height: 12ex;
	width: 15ex;
}
/* Calculated values section's styling */
#bottomSection{
	border-top: solid 1.5ex black;
	background-color: white;
	text-align: center;
	padding-bottom: 3ex;
}
/* Various paddings used throughout the page */
.topPad{
	padding-top: 2.5ex;
}
.topMPad{
	padding-top: 0.5ex;
}
.bottomPad{
	padding-bottom: 1.5ex;
}
.input-group{
	padding-bottom: 2ex;
}
.bottomPadBig{
	padding-bottom: 2.2ex;
}
.bottomMPad{
	padding-bottom: 0.5ex;
}
/* Text styling of the answers */
#answerText{
	font-weight: bold;
	padding-bottom: 1ex;
}
/* The boxes around the answer text */
.result{
	border: 1px;
	border-style: solid;
	font-size: 200%;
	background-color: white;
}
/* Hides the error message on screen */
#alert{
	display: none;
}
/* Gives each selection box a grey background */
input[type="text"], option, select{
	background-color: #EEEEEE;
}
select, .btn:focus, .btn:active{
	outline: none !important;
}
/* Parker gold when a box is clicked on */
.btn:active, .btn:focus, .form-control:focus{
	border-color: #FDD880 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 7px rgba(255,185,29,0.6) !important;
}
.btn:focus{
	background-color: transparent;
}
/* Styling for the gold strips at the top of each box */
.goldStrip{
	width: 100%;
	height: 1.5ex;
	border-style: solid;
	border-color: rgb(255,185,29);
	background-color: rgb(255,185,29);
	
}

/* Button hover effects */
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-defualt.active, .btn-defualt, .customBtn, .btn-default:active:focus {
	/* background-color: #f2f2f2; */	
	color: #ffffff;
	background-color: #333333;
	border-radius: 3ex;
	font-weight: bold;
}

select::-ms-expand {
	display: none;
}
/* styling for the buildable schematic */
#dropArea{
	height: 40ex;
	border: 1px solid #A5A095;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#dropArea img{
	display: inline-block;
    vertical-align: middle;
}
/* Used by angular.js to hide certain elements */
.show-true{
	display: inherit;
}
.show-false{
	display: none;
}
/* Styling of text above the answer boxes */
.resultLabel{
	font-size: 1.5em;
	font-weight: bold;
	color: black;
}
/* Fade in effect when adding a new pipe or fitting */
.faded{
	-webkit-animation: fadein 0.5s linear 0s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s linear 0s; /* Firefox < 16 */
    -ms-animation: fadein 0.5s linear 0s; /* Internet Explorer */
    -o-animation: fadein 0.5s linear 0s; /* Opera < 12.1 */
    animation: fadein 0.5s linear 0s;
}
/* Starts the graph out hidden (and taking no space)  */
.graph{
	display: none;
}
@keyframes fadein {
    from { opacity: 0;  top: 2.5ex}
    to   { opacity: 1;	top: 0ex}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0;  top: 2.5ex}
    to   { opacity: 1;	top: 0ex}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0;  top: 2.5ex}
    to   { opacity: 1;	top: 0ex}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0;  top: 2.5ex}
    to   { opacity: 1;	top: 0ex}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0;  top: 2.5ex}
    to   { opacity: 1;	top: 0ex}
}