.header{
	text-align: center;
}
.link{
	padding: 2.5ex;
	background-color: white;
	font-size: 16px;
	border: solid 1px #bbb;
}
.subtext{
	color: #bbb;
}
.spaced{
	padding-bottom: 2ex;
}
.glyphicon-circle-arrow-right{
	font-size: 2.5ex;
	color: black;
}
.thumbnail{
	height: 15ex;
	width: 22ex;
}
a{
	color: black;
	font-weight: bold;
}

.link:hover, a:hover{
	background-color: #eee;
	color: #222;
}

