body {
	margin:auto;	
	width: 885px;
	font: 10px arial;
	padding: 25px;
}
.y-axis line {
	opacity:.2;
}
.y-axis path {
	display:none;
}
.line {
	fill: none;
	stroke-width: 1.5px;
	opacity:.75;
}
.overlay {
	fill: none;
	pointer-events: all;
}
.lineHoverText {
	text-shadow:
	-2px -2px 0 #fff,
	2px -2px 0 #fff,
	-2px 2px 0 #fff,
	2px 2px 0 #fff;
}

.annotation text {
	fill: var(--annotation-context-color);
}

.annotation-note-bg {
	fill: rgba(0, 0, 0, 0);
}

.dotted {stroke: 'black'; stroke-width: 1; stroke-dasharray: 0.5%;}

button{
    font-size:18px; 
    font-weight: bold;
    margin: 2px;
    background-color: #dedede;
}

.axis_label{
    font-size:14px; 
    font-weight: bold;
}

table.election_table {
    width: 40ex;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

table.election_table td, table.election_table th {
    border-width: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 3px;
}

table.election_table thead {
    background-color: #dedede;
}

#viz_description{
    font-size:14px;
    padding: 5px;
}

#viz_description text{
    width: 80%
}

#instructions{
    font-size: 11px;
    color: red
}