<!DOCTYPE html>
<html lang="en">
<head>
	<title>Parker Flow Predictor</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js" integrity="sha256-VNbX9NjQNRW+Bk02G/RO6WiTKuhncWI4Ey7LkSbE+5s=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/flowCalculator.css">
	<script src="script/flowCalculations.js"></script>
  </head>
<body ng-app="flowApp">

<div class="col-xs-12 header bottomPad">
	<div class="col-sm-2 col-xs-12 header">
		<a href="http://parker.com"><img src="schem/logo.jpg" class="logo"/></a> 
	</div>
	<div class="col-sm-8 col-xs-12 header">
		<h3>Flow Predictor</h3>
	</div>
</div>

<div class="col-xs-12">&nbsp;</div>

<div class="col-xs-12 col-sm-6 bottomPad checkVals">	
	<div class="goldStrip"></div>
	<div class="col-sm-12 parkerBox topMPad bottomPad">
	
	<h4 class=> Fluid Data</h4>
		<div class="input-group">
			<label for="fluid">Fluid Type</label><br>
			<select class="selectpicker col-sm-12" style="height: 4.5ex" id="fluid">
				<option>Oil</option>
				<option>Deisel fuel</option>
			</select>
		</div>
		<label for="Fluid Density">Fluid Density:</label>
		<div class="input-group">
			<input type="text" class="form-control" id="fluid_density" value=1.4937>
			<span class="input-group-addon">slugs/ft<sup>3</sup></span>
		</div>
		<label for="kViscosity">Kinematic Viscosity:</label>
		<div class="input-group">
			<input type="text" class="form-control" id="kViscosity" value=0.0000124>
			<span class="input-group-addon">cSt</span>
		</div>
		<label for="Temperature">Temperature</label>
		<div class="input-group">	
			<input type="text" class="form-control" id="temperature" value = 70>
			<span class="input-group-addon">°F</span>
		</div>
		<label for="RVP">RVP</label>
		<div class="input-group">
			<input type="text" class="form-control" id="RVP" value=.1>
			<span class="input-group-addon">psia</span>
		</div>
		<label for="dPressure">Discharge Pressure</label>
		<div class="input-group bottomPadBig">
			<input type="text" class="form-control" id="dPressure" value = 10>
			<span class="input-group-addon">psia</span>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-6">
<div class="goldStrip"></div>
	<div class="col-sm-12 parkerBox topMPad bottomMPad checkVals">
		<h4> Pump Options</h4>
		<div class="radio">
		  <label><input type="radio" name="pumps" value = 7>3" Pump</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="pumps" value = 3>3" RVP Pump</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="pumps" value = 8.5>4"Pump</label>
		</div>
		<label for="frequency">Pump Frequency</label>
		<div class="input-group">
			<input type="text" class="form-control" id="frequency" value="40">
			<span class="input-group-addon">Hz</span>
		</div>
	</div>
</div>

<div class="col-xs-12 col-sm-6 topPad boxed">
<div class="goldStrip"></div>
	<div class="col-sm-12 parkerBox topMPad bottomMPad">
		<h4> Static Head Data</h4>
		<label for="height">Height of fluid above pump centerline</label>
		<div class="input-group">		
			<input type="text" class="form-control" id="height" value="3">
			<span class="input-group-addon">ft</span>
		</div>
		<label for="tPressure">Pressure in tank</label>
		<div class="input-group">
			<input type="text" class="form-control" id="tPressure" value="0">
			<span class="input-group-addon">psia</span>
		</div>
		<label for="atm">Atmospheric Pressure</label>
		<div class="input-group">			
			<input type="text" class="form-control" id="atm" value="14.7">
			<span class="input-group-addon">psia</span>
		</div>
	</div>
</div>
<div ng-controller="FlowListController as flowList" class="col-xs-12 addingSection boxed topPad">
	<div class="goldStrip"></div>
		<div class="col-xs-12 parkerBox addPad" id="lineLosses">	
			<div ng-repeat="flow in flowList.flows">
				<h4 class="show-{{flow.show}}"> Line Losses info</h4>
				<div class="col-sm-4">
					<label for="pDiam{{flow.text}}">Diameter of Pipe (Inches)</label><br>
					<select class="selectpicker col-sm-12" style="height: 4.5ex" id="pDiam{{flow.text}}">
					  <option>0</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>6</option>
					</select>
				</div>
				<div class="col-sm-3">
					<label for="pLength{{flow.text}}">Length of Pipe</label>
					<div class="input-group">
						<input type="text" class="form-control pLength" id="pLength{{flow.text}}">
						<span class="input-group-addon">ft</span>
					</div>
				</div>
				
				<div class="col-sm-3">
					<label for="roughness{{flow.text}}">Roughness of Pipe</label>
					<div class="input-group">		
						<input type="text" class="form-control" id="roughness{{flow.text}}">
						<span class="input-group-addon">in</span>
					</div>
				</div>
			</div>
		</div>	
		<div class = "col-xs-12 addButton">
			<button type="button" class="btn btn-default btn-sm customBtn" onclick="addLine()">
				<span class="glyphicon glyphicon-plus"></span> ADD A NEW PIPE
			</button>
		<div class="col-xs-12">&nbsp;</div>
		</div>
</div>

<div ng-controller="FlowListController as flowList" class="col-xs-12 addingSection">
<div class="goldStrip"></div>
	<div class="col-xs-12 parkerBox" id="fittingsection">
		<div ng-repeat="flow in flowList.flows">
			<h4 class="show-{{flow.show}}"> Fittings info</h4>
			<div class="col-sm-4">
				<label for="fType{{flow.text}}">Type of Fitting</label><br>
				<select class="selectpicker col-sm-12" style="height: 4.5ex" id="fType{{flow.text}}" onchange="getImage(this)" onload="getImage(this)" name="{{flow.text}}">
				  <option>180°  Return Bend, Flanged</option>
					<option>180°  Return Bend, Threaded</option>
					<option>Angle Valve Fully Open</option>
					<option>Ball Valve </option>
					<option>Ball Valve (1/2 Closed)</option>
					<option>Ball Valve (2/3 Closed)</option>
					<option>Branch Flow, Threaded</option>
					<option>Butterfly Valve</option>
					<option>Close Return Bend</option>
					<option>Gate Valve  </option>
					<option>Gate Valve (1/2 closed)</option>
					<option>Gate Valve (1/4 closed)</option>
					<option>Gate Valve (3/4 closed)</option>
					<option>Globe Valve</option>
					<option>Long Radius 45° Flanged</option>
					<option>Long Radius 90° Flanged</option>
					<option>Long Radius 90° Threaded</option>
					<option>Pipe Entrance (inward Projecting)</option>
					<option>Pipe Entrance (Sharp Edged)</option>
					<option>Pipe Exit</option>
					<option>Plug Valve 3-Way Thru-Flow</option>
					<option>Plug Valve Branch Flow</option>
					<option>Plug Valve Straightaway</option>
					<option>Regular 45° Threaded</option>
					<option>Regular 90° Flanged </option>
					<option>Regular 90° Threaded </option>
					<option>Standard Elbow 45°</option>
					<option>Standard Elbow Long Radius 90°</option>
					<option>Sudden Expander</option>
					<option>Sudden Reducer</option>
					<option>Swing Check Valve</option>
					<option>Tees, Branch Flow, Flanged</option>
					<option>Tees, Line Flow, Flanged</option>
					<option>Tees, Line Flow, Threaded</option>
					<option>Threaded Union</option>
				</select>
			</div>
			<div class="col-sm-3">
				<label for="fDiam{{flow.text}}">Diameter (Inches)</label><br>
				<select class="selectpicker col-sm-12" style="height: 4.5ex" id="fDiam{{flow.text}}">
				  <option>2</option>
				  <option>3</option>
				  <option>4</option>
				  <option>6</option>
				</select>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="fNum{{flow.text}}">Number of Fittings</label>
					<input type="text" class="form-control" id="fNum{{flow.text}}">
				</div>
			</div>
			<div class="col-sm-1">
			<div class="col-sm-12 col-xs-0">&nbsp;</div>
			<label class="checkbox-inline">
				<input type="checkbox" value="" id="check{{flow.text}}">Parallel
			</label>
			<div class="col-xs-12">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class = "col-xs-12 addButton">
		<button type="button" class="btn btn-default btn-sm customBtn" onclick="addFitting()">
			<span class="glyphicon glyphicon-plus"></span> ADD A NEW FITTING
		</button>
		<div class="col-xs-12">&nbsp;</div>
	</div>
</div>	
<!-- IMAGE AREA
<div class="col-xs-12 topPad">
	<div id="schematic" ondrop="drop(event)" ondragover="allowDrop(event)">
		
	</div>	
</div>
-->
<div class="col-xs-12 boxed topPad">
	<div class="goldStrip"> </div>
	<div class="col-xs-12 parkerBox topMPad bottomPad">
		<h4>Buildable Schematic</h4>
		<div id="dropArea">
			<img id="tankPic" class="ui-widget-content" src="schem/tank.PNG"/>
			<img id="pumpPic" class="ui-widget-content" src="schem/centrifugal pump2.PNG"/>
		</div>
	</div>
</div>

<div class="col-xs-12 boxed">
	<div class="goldStrip"> </div>
	<div class="col-xs-12 parkerBox topMPad bottomPad">
	
		<h4> Strainer info</h4>
		<div class="col-sm-5">
			<label for="sDiam">Strainer/Filter Diameter (Inches)</label><br>
			<select class="selectpicker col-sm-12" style="height: 4.5ex" id="sDiam">
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>6</option>
			</select>
		</div>
		<div class="col-sm-5">
			<div class="form-group">
				<label for="sNum">Number of Strainers</label>
				<input type="text" class="form-control" id="sNum" value="0">
			</div>
		</div>
		<div class="col-sm-2">
		<div class="col-xs-12">&nbsp;</div>
			<label class="checkbox-inline">
				<input type="checkbox" value="" id="checkStrainer">Parallel
			</label>
			<div class="col-xs-12">&nbsp;</div>
			<div class="col-xs-12">&nbsp;</div>
		</div>
		<h4> Breakaway valve info</h4>
		<div class="col-sm-5">
			<label for="bDiam">Valve Diameter (Inches)</label><br>
			<select class="selectpicker col-sm-12" style="height: 4.5ex" id="bDiam">
			  <option>4</option>
			  <option>6</option>
			</select>
		</div>
		<div class="col-sm-5">
			<div class="form-group">
				<label for="bNum">Number of valves</label>
				<input type="text" class="form-control" id="bNum" value="0">
			</div>			
		</div>
		<div class="col-sm-2">
		<div class="col-xs-12">&nbsp;</div>
			<label class="checkbox-inline">
				<input type="checkbox" value="" id="checkBreak">Parallel
			</label>
		</div>
	</div>
	<div class="col-xs-12">&nbsp;</div>
</div>

<div class="col-xs-12" id = "bottomSection">
	<h2 id = "answerText">CALCULATED VALUES</h2>
	<div class="col-xs-12 graph bottomPadBig">
		<canvas id="flowChart" width="80%" height="30%"></canvas>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
			<p class="result"><font id="resultText">XXX.XXXXXX GPM</font></p>
		</div>
		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
			<p class="result"><font id="result2Text">V/L</font></p>
		</div>
		<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
			<p class="result"><font id="result3Text">Units</font></p>
		</div>
	</div>	
	<div class="col-xs-12">&nbsp;</div>
	<div class="col-xs-6 col-xs-offset-3 alert alert-danger alert-dismissable fade in collapse" id="alert">
		<!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
		<p id="alertMessage">Unknown Error.</p>
	</div>
	<div class="col-xs-6 col-xs-offset-3">
	<br>
		<button type="button" class="btn btn-default btn-block customBtn" onclick="calculate()">CALCULATE</button>
	</div>
	<div class="col-xs-12">&nbsp;</div>
	<br><br>
</div>

</body>
</html>